@import "tailwindcss";

@theme {
  --color-darkNavy: #222831;
  --color-darkGrey: #393E46;
  --color-gold: #FFD369;
  --color-offWhite: #EEEEEE;
}

@layer base {
  body {
    @apply bg-darkNavy text-offWhite m-0 p-0;
    width: 350px;
    min-height: 400px;
  }
}